export(center_list)
export(convertSparse2Complete_ff)
export(convertSparse2occ_ff)
export(cor_ff)
export(cor_ff_list)
export(cor_nucs)
export(cor_nucs_multiple)
export(cor_nucs_using_single_vecs)
export(cov_ff)
export(cov_ff_list)
export(cut_out_fasta_multiple_from_one_chr)
export(cut_out_fasta_single)
export(cut_out_seqnums_from_one_chr)
export(fasta2sparse)
export(fasta2sparse_ff)
export(filter_column_range_ff)
export(get_dyad_pos)
export(hist_ff_list)
export(mean_list)
export(num2freq)
export(num2weightedfreq)
export(plotGenomicCutouts)
export(sd_ff)
export(sd_ff_list)
export(smear_ff)
export(table_to_ff)
import(Biostrings)
import(ff)
import(ffbase)
import(pron)
